
onboarding: The .env file is for storing secrets for your app, like an API key. Any project member can see the contents in the same way that you can, and everyone else can just see the variable names.

/* this file is loaded by index.html and styles the page */

​

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=IBM Plex Sans:400,500,600,700&display=swap");

​

​

* {

  padding: 0;

  margin: 0;

  box-sizing: border-box;

  font-family: "Poppins", sans-serif;

}

​

.game-container {

  justify-content: center;

  position: absolute;

  z-index: 1;

  width: 100%;

  display: flex;

}

canvas {

  margin-top: 1em;

  border: none;

  border-radius: 30px;

  background: #013333

    url(

        https://zupimages.net/up/21/01/z09j.png

      )no-repeat;

  display: block;

  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);

}

#map,

#menu {

  display: inline-block;

  verticalalign: top;

  align-items: center;

}

​

#menu {

  top: 0px;

}

​

body {

  align-items: center;

  background-color: lightgray;

  line-height: 1.5em;

  -moz-user-select: none; /* Firefox */

  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */

  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */

  user-select: none; /* Propriété standard */

}

​

ul {

  width: 100%;

  list-style:none;

