/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  background-color: grey;
  font-family: sans-serif;
  line-height: 1.5em;
}

h1 {
  max-width: calc(100% - 5rem);
  line-height: 1.1;
  position: absolute;
  text-align: center;
  color: black;
}

label {
    padding-right: 10px;
    font-size: 1rem;
}
progress {
  height : 30px;
  width : 100%;
}

form {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 30px;
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  width: 100%;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

select {
  margin: 1em;
  background-color: #bbbbf2;
  cursor: pointer;
  border-radius: .25em;
  margin-top: 10px;
  width : 280px;
  height : 30px;
}

#footer {
  text-align: center;
  margin-top: 1em;
}